<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Chat | ChatApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/chat.css">
    <link rel="stylesheet" href="/mychat.css">
</head>

<body class="chat">

    <div class="chat__sidebar" id="side">
        <div class="dropdown">
            <span><img class="small-img" src="/images/user.svg" alt=""></span>
            <div class="dropdown-content">
                <p onclick="logout()" >logout</p>
            </div>
        </div>
        <h3>People</h3>
        <button type="button" id="close" class="mobile"><img src="/images/close.svg" alt=""></button>
        <div class="chat__footer" id="add-friend">
            <form id="friend-form">
                <input type="text" id="fri-txt" name="username" placeholder="add friend..." autocomplete="off">
                <button type="button" id="add-button">Add</button>
            </form>
        </div>
        <div id="users">
            <ul>
                {{#friends}}
                <li {{#if active}} class="highlighted" {{/if}} onclick="startChat(this)" id="{{_id}}">{{username}}</li>
                {{/friends}}
            </ul>
        </div>
    </div>
    <div class="chat__main">
        <header class="chat__heading">
            <button id="menu-button" type="button" class="mobile"><img src="/images/menu.svg" alt=""></button>
            <h1> {{friend}}</h1>
            <div class="typing" style="margin-left: 3px; opacity: 0; display: inline-block">typing...</div>
        </header>
        <ol class="chat__messages" id="messages">
            
        </ol>
        <div class="chat__footer">
            <form id="message-form">
                <button id="emoji-button" type="button">&#128578;</button>
                <input type="text" id="msg-txt" name="message" placeholder="send message..." autocomplete="off"
                    autofocus>
                <button id="send-button"><img src="/images/send.svg" alt=""></button>
                <button type="button" class="no-show" onclick="cancelReply(this)" id="cancel-reply"><img
                        src="/images/close.svg" alt=""></button>
            </form>
        </div>
        <div class="emojis" id="my-emojis">
            {{#each emojis}}
            <span data-value="{{this}}">{{this}}</span>
            {{/each}}
        </div>
    </div>


    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/mustache.min.js"></script>
    <script src="/deparam.js"></script>
    <script src="/util.js"></script>
    <script src="/auth-chat.js"></script>
    <script src="/async-chat.js"></script>
</body>

</html>